.grid_item {
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.h3 {
  margin-top: 0;
}

.metadata {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #808080;
}

.user {
  margin-right: 10px;
}

.fa_icon {
  width: 1em;
  align-items: baseline;
  display: flex;
  color: "#efabab";
  margin-bottom: 1em;
}

.group {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
