.pagination {
  font-weight: 500;

  list-style: none;
  display: inline-block;
  padding: 0;
  padding-top: 1em;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #040404;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}

.pagination a.active {
  cursor: default;
}

.pagination a:active {
  outline: none;
}

.modal_a {
  margin-left: 3px;
  padding: 0;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.modal_a:hover {
  background-color: var(--color-secondary);
}
.modal_a.active,
.modal_a:active {
  background-color: #e43b41;
}

.active {
  color: #ff0000;
  font-weight: 700;
}
