.body {
  background-color: var(--color-primary);
}

.loading_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  max-width: 80vw;
  margin: 2em auto;
}

.text {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.text h3 {
  font-weight: 400;
}
