.shortlink {
  height: 80vh;
}

.cclick {
  font-size: 2em;
  color: rgb(245, 69, 69);
}

.cclick_seperator {
  font-size: 1.2em;
}

.link_bg {
  max-width: 80ch;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full_link {
  max-width: 80ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy_icon {
  width: 2em;
}

.copy_btn {
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
}

.copy_btn:active {
  transform: scale(0.9);
}
